@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Graphik+Arabic:wght@300;400;500;600;700&display=swap");

body {
  margin: 0;
  font-family: 'IBM Plex Sans Arabic', 'Graphik Arabic', Helvetica, sans-serif;
}
